section.about
    .container

        .title.title--with-bottom-line
            h2.title.title__header About us
            .title We are added our major Services

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Irure esse voluptate cillum mollit sit. Laboris anim voluptate culpa esse aliqua et est qui non veniam. 
            
            li.about__item
                .icon.icon-book
                h3.about__header Landing pages Creation
                p.about__description Irure esse voluptate cillum mollit sit. Laboris anim voluptate culpa esse aliqua et est qui non veniam.
                
            li.about__item
                .icon.icon-message
                h3.about__header Ads management
                p.about__description Irure esse voluptate cillum mollit sit. Laboris anim voluptate culpa esse aliqua et est qui non veniam. 
                