.section.form-section
    .title
        h2.title.title__header Get Your Facebook Analsys Now
        .title__text Enter your details below

    .btn-down: a.arrow-down: i.fa.fa-angle-down

    .form-container.is-hidden
        form(method="post" action="#").form
            button(type="button").form__close-button x
            .form__text.
                Duis consectetur laboris ullamco occaecat laborum cupidatat mollit veniam pariatur. 
                Eu pariatur anim amet do minim consequat. 
            
            .form__fields
                input.form__input(type="text" placeholder="Your Name")
                input.form__input(type="text" placeholder="Contact Number")
                input.form__input(type="text" placeholder="Contact Name")

            button(type="submit").button.button--text-uppercase.button--red Submit now

                
       
